.nb-category {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex: 1;
  min-height: 0;
  padding-bottom: 0.5rem;
}

.nb-category__btn {
  font-family: var(--font-secondary);
  color: var(--text-secondary);
  background-color: var(--sidebar-active-bg);
  border: 2px solid transparent;
}

.nb-category__btn:hover {
  background-color: var(--color-primary);
}

.nb-category__btn:focus {
  border-color: var(--accent);
}

.icon-add {
  width: 20px;
  height: 20px;
  color: var(--text-secondary);
}

.nb-category__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon-title {
  width: 20px;
  height: 20px;
  color: var(--text-secondary);
}

.nb-category__wrapper-title {
  font-size: 1.25rem;
  font-weight: 500;
  flex: 1;
  color: var(--text-secondary);
}

.nb-category__list {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow-y: auto;
  min-height: 0;
}

.nb-category__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: var(--radius);
  background-color: var(--sidebar-active-bg);
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0.5rem 0.25rem;
  outline: none;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.nb-category__item:focus {
  border-color: var(--accent);
}

.nb-category__item:hover {
  background-color: var(--color-primary);
}

.nb-category__item-point {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
}

.nb-category__item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.nb-category__item-title {
  flex: 1;
  font-family: var(--font-secondary);
  text-transform: capitalize;
  color: var(--text-secondary);
}

.nb-category__item-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  padding: 0.25rem;
  transition: border-color 0.3s;
}

.nb-category__item-remove:focus {
  border-color: var(--accent);
}

.icon-remove {
  width: 20px;
  height: 20px;
  color: var(--text-secondary);
  transition: color 0.3s;
}

.nb-category__item-remove:hover svg {
  color: var(--danger);
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .nb-category {
    padding-bottom: 1rem;
  }

  .nb-category__btn {
    /* padding: 0.5rem 1rem; */
  }

  .icon-title {
    width: 24px;
    height: 24px;
  }
}
