.nb-sidebar {
  border: 2px solid var(--border);
  border-left: transparent;
  background-color: var(--card-bg);
  border-radius: 10px;
  width: 48px;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nb-theme-btn {
  background-color: var(--bg);
  border: 2px solid var(--border);
  border-radius: var(--radius);
  outline: none;
  padding: 0.2rem;
  cursor: pointer;
  transition: border-color 0.3s;
}

.nb-theme-btn:focus {
  border-color: var(--accent);
}
.nb-theme-btn:hover {
  border-color: var(--color-primary);
}

.nb-sidebar,
.nb-board {
  padding: 4px;
}

.nb-board {
  height: 100vh;
  display: flex;
  flex: 1;
  row-gap: 1rem;
  flex-direction: column;
  background-color: var(--bg);
  padding-left: 1rem;
  overflow-y: auto;
}

.nb-board__header {
  font-family: var(--font-secondary);
  font-size: 0.675rem;
}

.nb-board__wrapper-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

/* MEDIA */
/* >540px */
@media (min-width: 540px) {
  .nb-sidebar,
  .nb-board {
    padding: 1rem 0.5rem;
  }

  .nb-board {
    row-gap: 2rem;
  }

  .nb-board__header {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .nb-board__wrapper-card {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .nb-sidebar {
    width: 250px;
  }
}

@media (min-width: 1280px) {
  .nb-board__wrapper-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1660px) {
  .nb-board__wrapper-card {
    grid-template-columns: repeat(4, 1fr);
  }
}
