.nb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  display: grid;
  place-items: center;
  z-index: 1;
  opacity: 0.95;
}

.nb-form-category {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 2px solid var(--border);
  border-radius: var(--radius);
  padding: 1rem;
}

.nb-form-category__title {
  font-family: var(--font-secondary);
  font-size: 1.25rem;
}

.nb-form-category__input {
  border: 2px solid var(--border);
  padding: 0.5rem 1rem;
  transition: border-color 0.3s;
}

.nb-form-category__input:focus {
  border-color: var(--accent);
}

.nb-form-category__input,
.nb-form-category__btn {
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  outline: none;
}
.nb-form-category__btn {
  background-color: var(--info);
  border: 2px solid transparent;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.nb-form-category__btn:hover {
  background-color: var(--color-primary);
}

.nb-form-category__btn:focus {
  border-color: var(--accent);
}
